---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Kanakana"
	description="About me"
	pubDate={new Date('December 20 2024')}
	heroImage="/aboutme.jpg"
>
	<p>
		昔RCJWSLに出場していた大学2年生。
	</p>
	<p>
		最近やっていることはCTF, AtCoder, マイクラ, 麻雀など。
	</p>
	<p>
		このブログはastroを使用して、GitHub Pagesで公開しています。
		自分が作ったものなどを掲載する予定です。
	</p>
	<p>
		ご連絡いただく際は<a href = "https://x.com/kanakana_robot">Twitter</a>のDMでお願いします。
		気軽に連絡していただいて結構です。
		ただ、最近はあまりTwitterをみていないので、返信が遅いと思います。
		ご了承ください。
	</p>
</Layout>
