---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/aboutme.jpg"
>
	<p>
		昔RCJWSLに出場していた大学2年生。
	</p>

	<p>
		最近やっていることはCTF, AtCoder, マイクラ, 麻雀など。
	</p>
</Layout>
