---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Kanakana"
	description="About me"
	pubDate={new Date('December 20 2024')}
	heroImage="/aboutme.jpg"
>
	<p>
		昔RCJWSLに出場していた大学2年生。
	</p>
	<p>
		最近やっていることはCTF, AtCoder, マイクラ, 麻雀など。
	</p>
</Layout>
